<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DevOpsiOSApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94FFBE542303DE5A00F766BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94FFBE682303DE5E00F766BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94FFBE732303DE5E00F766BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
